<%- include("partials/header") %> 


<div class="ui main text container segment">
    <div class="ui huge header">Blog Site</div>
    <div class="top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <image class="ui image" src="<%= blog.image%>" alt="blog-image"></image>
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 200) %> . . .</p>
                        </div>
                        <div class="extra">
                            <a class="ui purple inverted button" href="/blogs/<%= blog._id %>">Read More</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<%- include("partials/footer") %> 